<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
   <!-- Configurations that affect the Test Framework -->
   <RunConfiguration>

   </RunConfiguration>

   <TestRunParameters>
      <Parameter name="webAppUrl" value="http://dlb-chefnode.cloudapp.net/peopleTracker/" />
   </TestRunParameters>

   <!-- Adapter Specific sections -->

   <!-- MSTest adapter -->
   <MSTest>
      <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
      <CaptureTraceOutput>True</CaptureTraceOutput>
      <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
      <DeploymentEnabled>False</DeploymentEnabled>
   </MSTest>
</RunSettings>